@charset "UTF-8";
body {background-color: black;
			font-family: sin city;
			width: auto;
			border-color: #ff0000;
			}
h1 {background-color: #afafaf;
		border: solid  10px red;
		margin: auto;
		margin-top: 10px;
		font-size: 80px;
		padding-top: 10px;
		}
nav {border: solid red 10px;
			color: white;
			padding: 20px;
			font-size: 30px;
			margin-top: 10px
		}
article {color: black;
			  margin-top: 10px;
			  height: 900px;
			  border: solid 10px red;
			  padding-top: 10px;
			  background-color: #afafaf
			  }

footer {color: white; border: solid red 10px; margin-top: 10px; height: 200px; padding-top: 10px; }